<!DOCTYPE html>

{% extends 'zach/base.html' %}

{% load staticfiles %}

<html lang="ru">

<head>
    {% block title %}Новости{% endblock %}
</head>

<body>
{% block content %}
    <div class="news_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="news_block">
                        <div class="ne_block_univs">
                            <div class="ne_all_univs">

                            </div>
                            <div class="ne_ictis_univ">

                            </div>
                            <div class="ne_inep_univ">

                            </div>
                            <div class="ne_irtsu_univ">

                            </div>
                            <div class="ne_iues_univ">

                            </div>
                        </div>
                        <div class="ne_block_news">
                            asd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>