<!DOCTYPE html>

{% extends 'zach/base.html' %}

<html lang="ru">

<head>
    {% block title %}Журналы{% endblock %}
</head>

<body>
{% block content %}
    <div class="journals_content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="university">
                        <div class="ictis_block">

                        </div>
                        <div class="inep_block">

                        </div>
                        <div class="rtf_block">

                        </div>
                        <div class="iues_block">

                        </div>
                    </div>

                    {#--------------------#}

                    <div class="directions">
                        <div class="baccalaureate">

                        </div>
                        <div class="specialty">

                        </div>
                        <div class="magistracy">

                        </div>
                    </div>

                    {#--------------------#}

                    <div class="selected_journals">
                        <div class="all_journals_rate">

                        </div>
                        <div class="window_with_journals">

                        </div>
                    </div>

                    {#--------------------#}

                    <div class="search_journals">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>