<!DOCTYPE html>

{% extends 'zach/base.html' %}

<html lang="ru">

<head>
    {% block title %}Библиотека{% endblock %}
</head>

<body>
{% block content %}
    <div class="library_content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="library_block">
                        <div class="library_search">
                            Поиск
                        </div>
                        <div class="files_block">
                            <div class="block_library block_library_tree">
                                Дерево файлов
                            </div>
                            <div class="block_library block_library_found_files">
                                неполное открытие и отображение найденных файлов
                            </div>
                            <div class="library_download">
                                <button>Download</button>
                            </div>
                        </div>
                    <div class="library_download1">
                                <button>Download</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>